@model WellnessMaxApp.Repository.Models.WellnessProgramM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WellnessProgramM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WellnessProgramName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WellnessProgramName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Venue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Venue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPaid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPaid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeUtc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimeUtc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalMembers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalMembers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DurationInHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DurationInHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HostName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HostName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.WellnessProgramId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
