@model WellnessMaxApp.Repository.Models.EnrollmentT

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EnrollmentT</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OnlineCounseling)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OnlineCounseling.OnlineCounselingId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WellnessEvent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WellnessEvent.WellnessEventId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WellnessProgram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WellnessProgram.WellnessProgramId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EnrollmentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
